@import "tailwindcss/base";

@import "fonts.css";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.content h1,
.content h2 {
    @apply .text-4xl;
}

.content p {
    @apply .text-xl .pt-2;
}

@screen xl {
    .content h1,
    .content h2 {
        @apply .text-6xl .leading-tight;
    }

    .content p {
        @apply .text-3xl .pt-3;
    }
}

@screen lg {
    .big-image {
        padding-left: 30%;
    }
}

.line {
    mix-blend-mode: multiply;
}