@font-face {
    font-family: 'gilroy';
    src: url('../fonts/gilroy-light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'gilroy';
    src: url('../fonts/gilroy-bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'gilroy';
    src: url('../fonts/gilroy-extra-bold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}